<div id="<%= dom_id activity %>">
  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= activity.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= activity.long %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= activity.status %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= activity.user_id %>
  </p>

</div>
